[submodule "vulkan-headers"]
	path = vulkan-headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
[submodule "vulkan-loader"]
	path = vulkan-loader
	url = https://github.com/KhronosGroup/Vulkan-Loader.git
[submodule "vulkan-tools"]
	path = vulkan-tools
	url = https://github.com/KhronosGroup/Vulkan-Tools.git
